/* Объявление для обычного начертания */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
       url('/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Объявление для жирного начертания */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.woff2') format('woff2'),
       url('/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700; /* bold */
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1660px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.upper-case {
  text-transform: uppercase;
}

.header {
  min-height: 449px;
  position: relative;
  margin-bottom: 55px;

  justify-content: space-between;
  background-color: rgb(21, 35, 50);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/sources/img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-bottom: 1px solid black;
  z-index: 0;
  color: white;
}

.header-logo {
  width: 179px;
  padding-top: 28px;
  padding-left: /* 15%; */ 248px;
}

.header-menu {
  position: absolute;
  top: 40px;
  right: 244px;
}

.header-menu-list {
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
}

.header-menu-item:hover {
  text-decoration: underline;
}

.header-title {
  display: block;
  width: 700px;
  position: relative;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.66;
}

.trend-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.trend-title::after {
  content: '';
  display: block;
  width: 66px;
  height: 2px;
  background: #b59f5b;
  margin: 9px auto 28px auto;
}

.trend-articles {
  display: flex;
  gap: 4px;

}

.trend-article {
  position: relative;
  display: block;
  width: 412px;
  height: 319px;
  background: #000;
}

.article-img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.trend-text {
  position: absolute;
  bottom: 16px;
  left: 20px;
  right: 20px;
  padding: 31px;
  border: 4px solid rgba(181, 159, 91, 0.6);
}

.trend-text-r {
  left: 26px;
}

.trend-tags {
  display: flex;
  gap: 20px;
  padding-bottom: 7px;
}

.trend-tag {
  font-weight: 700;
  font-size: 14px;
  color: #b59f5b;
}

.trend-tag:hover{
  text-decoration: underline;
}

.trend-art-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: white;
}

.trend-art-title:hover{
  color: #b59f5b;
}

.container {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  padding-top: 65px;
  gap: 121px;
}

.posts {
  padding-left: 245px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-grow: 1;

}

.post{
  padding: 0;
  margin: 0;
  display: flex;
  width: 778px;
  gap: 31px;
}

.post-img {
  display: block;
  background-color: #eff6f1;
  flex-grow: 1;
}

.post-frame {
  padding: 0;
  margin: 0;
  width: 370px;
  flex-shrink: 0
}

.post-category {
  padding: 0;
  margin-top: -3px;
  margin-bottom: 5px;
  gap: 20px;
  display: flex;
}

.post-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  padding: 0;
  margin-top: -20px;
}

.post-title:hover{
  color: #b59f5b;
}

.post-data-author {
  margin: 27px 0 0;
  position: relative;
  padding-bottom: 17px;
}

.post-data {
  float: left;
  margin: 1px 4px 0 0;
  width: 89px;
  color: #888888;
  font-size: 12px;
}

.post-author {
  float: left;
  margin: 0 0 44px;
  width: 260px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.post-text {
  margin: 10px 0;
  position: relative;
  font-size: 15px;
  line-height: 22px;
}

.shop{
  width: 1170px;
  margin: 0 auto;
}

.shop-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.shop-title::after {
  content: '';
  display: block;
  width: 66px;
  height: 2px;
  background: #b59f5b;
  margin: 9px auto 28px auto;
}

.shop-articles {
  display: flex;
  justify-content: space-between;
}

.shop-article {
  width: 347px;
}

.shop-article:nth-child(2) {
  position: relative;
  left: 2px;
}

.shop-img {
  width: 300px;
  height: 205px;
  position: relative;
  left: 24px;
  background-color: #eff6f1;
}

.shop-text-block {
  position: relative;
  top: -37px;
  padding: 47px 19px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  color: #0f0d0e;
  width: 346px;
  height: 267px;
  box-sizing: border-box;
}


.shop-art-title {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 2px 0;
}

.shop-text {
  margin: 0 0 29px;
  font-weight: 400;
  font-size: 15px;
}

.shop-link {
  color: #b59f5b;
}

.shop-link:hover {
  text-decoration: underline;
}

.shop-price-old {
  font-weight: 700;
  font-size: 15px;
  text-decoration: line-through;
  text-transform: uppercase;
  line-height: 10px;
  margin: 0;
}

.shop-price-old::after {
  content: "0";
  visibility: hidden;
}

.shop-price-cur {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.shop-button {
  display: block;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  position: relative;
  top: -44px;
  left: 161px;
}

.shop-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.shop-button:active {
  transform: translateY(2px);
}

.footer {
  margin: 25px auto 0;
  width: 1170px;
  color: #999999;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

.socials {
  width: 100%;
  min-height: 82px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.soc-labels {
  display: flex;
  gap: 27px;
  left: 6px;
  position: relative;
  width: 225px;
}

.social {
  width: 21px;
}

.social:nth-child(1) {
  width: 25px;
}

.copyrights {
  position: relative;
  left: 6px;
}

.sidebar {
  width: 271px;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  position: relative;

  top: -17px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.sidebar-posts {
  position: relative;
  left: 4px;
}

.sb-posts {
  position: relative;
  left: -3px;
  top: 1px;
}

.sidebar-title {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #0f0d0e;
}

.sidebar-title::after {
  content: '';
  display: block;
  width: 66px;
  height: 2px;
  background: #b59f5b;
  margin: 9px auto 29px auto;
}

.sb-posts{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.sp-post {
  display: flex;
  gap: 20px;
}

.sp-post-img {
  width: 70px;
  height: 70px;
}

.sp-post-text {
  margin: -3px 0 0 -2px;
}

.sp-post-data {
  margin: 0 100px 1px 0;
  float: left;
  padding: 0;
  font-size: 12px;
  opacity: 0.54;
}

.sp-post-title {
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  padding: 0;
  margin: 0;
}

.find {
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  left: 4px;
}

.find-field {
  width: 220px;
  height: 48px;
  padding: 20px 15px;
  box-sizing: border-box;
  border: none;
  background-color: #f4f7f6;
  font-size: 13px;
}

.find-field:focus {
  border: 1px solid #b59f5b;
  padding-left: 14px;
  outline: none;
}

.find-btn {
  width: 48px;
  height: 48px;
  border: 0;
  background-color: #b59f5b;
  background-image: url("./sources/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
}

.sidebar .subscribe {
  position: relative;
  top: -12px;
  left: -2px;
}

.ss-field {
  position: relative;
  top: -8px;
  left: 3px;
  width: 268px;
  height: 48px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #f4f7f6;
  font-size: 13px;
  font-weight: 400;
}

.ss-field:focus {
  border: 1px solid #b59f5b;
  padding-left: 19px;
  outline: none;
}

.ss-btn {
  position: relative;
  top: 11px;
  left: 3px;
  width: 268px;
  height: 48px;
  border: 0;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.find-btn:hover, .ss-btn:hover {
  background-color: #323232;
  cursor: pointer;
}

.tags {
  position: relative;
  top: -15px;
  left: 1px;
}

.list-tags {
  position: relative;
  top: -6px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0;
}

.tag {
  display: block;
  font-size: 12px;
  font-weight: 700;
  border: 3px solid #eeeeee;
  padding: 5px 13px 4px;
}

.tag-link{
  color: #0f0d0e;
}

.tag:hover {
  border: 3px solid #b59f5b;
}

.categories {
  position: relative;
  top: -52px;
  left: 2px;
}

.list-themes{
  position: relative;
  top: -20px;
  left: -40px;
}

.theme {
  display: block;
  width: 271px;
  height: 47px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
  margin: 0;
  box-sizing: border-box;
}

.theme-link {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  display: inline;
}

.theme-count {
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
  display: inline;
  vertical-align: super;
}

.popup-toggle {
  display: none;
}

.open-popup:hover {
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 2;
}

.popup-content {
  position: fixed;
  top: 63.5%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: white;
  padding: 30px 30px 30px 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 3;
  max-width: 330px;
  width: 90%;
  height: 530px;
  overflow-y: auto;
}

/* Кнопка закрытия в виде креста */
.popup__close {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  font-size: 20px;

  position: absolute;
  top: 10px; /* после того, как будет отображаться за пределами сделать с "-" и белым */
  right: 10px; /* сделать 0 */
}

/* пока не получается сделать видимым вынесенный крест закрытия */
.popup__close:before,
.popup__close:after {
  content: "";
  background-color: black; /* для отладки, должен быть white */
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.4em;
  height: 0.2em;
}

.popup__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Показываем popup при активации чекбокса */
.popup-toggle:checked ~ .popup-overlay,
.popup-toggle:checked ~ .popup-content {
  opacity: 1;
  visibility: visible;
}

.popup-toggle:checked ~ .popup-content {
  transform: translate(-50%, -50%) scale(1);
}

/* Затемняем основной контент */
.popup-toggle:checked ~ main {
  filter: blur(2px);
  pointer-events: none;
}

.popup-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: -2px;
  left: 3px;
}

.popup-title::after {
  content: '';
  display: block;
  width: 66px;
  height: 2px;
  background: #b59f5b;
  margin: 9px auto 22px auto;
}

.fb_label {
  display: block;
  width: 95%;
  position: relative;
  left: 1px;
  font-size: 13px;
  font-weight: 400;
}

.select {
  position: relative;
  left: 1px;
  top: 10px;
  width: 330px;
  height: 48px;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 13.5px;
  border: none;
  background-color: #f4f7f6;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url("./sources/svg/form-arrows.svg");
  background-size: 9px 18px;
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.select:focus {
  border: 1px solid #b59f5b;
  padding-left: 19px;
}

.fb__email {
  padding-top: 39px;
}

.radio-group {
  padding-top: 4px;
  padding-left: 3px;
}


.radio-group-text {
  font-size: 13.5px;
}

.radio-group-text::before {
  content: "";

  width: 18px;
  height: 18px;

  background-image: url("./sources/svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

.radio-group {
  display: inline-block;
  font-size: 15px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 9px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("./sources/svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

/*.radio:focus ~ .radio-group-text::before {
	outline: 2px solid red;
}*/

.fb-group {
  position: relative;
  top: 29px;
}

.fb_textarea {
  resize: none;
  min-width: 330px;
  max-width: 330px;
  min-height: 135px;
  max-height: 135px;
  background-color: #f4f7f6;
  border: none;
  font-family: 'Open Sans';
  font-size: 13px;
  box-sizing: border-box;
  padding-top: 23px;
  padding-left: 23px;
}

.fb_textarea:focus {
  border: 1px solid #b59f5b;
  padding-left: 22px;
  outline: none;
}

.button {
  position: relative;
  top: 55px;
  left: 3px;
  display: block;
  width: 328px;
  height: 48px;
  border: none;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #b59f5b;
}

.button:hover {
  background-color: #323232;
  cursor: pointer;
}