/* Объявление для обычного начертания */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Объявление для жирного начертания */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700; /* bold */
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  width: 1660px;
  font-family: 'Open Sans', sans-serif;

}

a {
  text-decoration: none;
}

.header {
  height: 449px;
  position: relative;
  margin-bottom: 55px;

  justify-content: space-between;
  background-color: rgb(21, 35, 50);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../sources/img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-bottom: 1px solid black;
  z-index: 0;
  color: white;
}

.header-logo {
  width: 179px;
  padding-top: 28px;
  padding-left: /* 15%; */ 248px;
}

.header-menu {
  position: absolute;
  top: 40px;
  right: 244px;
}

.header-menu-list {
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
}

.header-menu-item:hover {
  text-decoration: underline;
}

.header-title {
  display: block;
  width: 700px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.66;
}

.trend-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.trend-title::after {
  content: '';
  display: block;
  width: 66px;
  height: 2px;
  background: #b59f5b;
  margin: 9px auto 28px auto;
}

.trend-articles {
  display: flex;
  gap: 4px;

}

.trend-article {
  position: relative;
  display: block;
  width: 412px;
  height: 319px;
  background: #000;
}

.article-img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.trend-text {
  position: absolute;
  bottom: 16px;
  left: 20px;
  right: 20px;
  padding: 32px;
  border: 4px solid rgba(181, 159, 91, 0.6);
}

.trend-tags {
  display: flex;
  gap: 20px;
  padding-bottom: 8px;
}

.trend-tag {
  font-weight: 700;
  font-size: 14px;
  color: #b59f5b;
}

.trend-tag:hover{
  text-decoration: underline;
}

.trend-art-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: white;
}

.trend-art-title:hover{
  color: #b59f5b;
}