/* Объявление для обычного начертания */
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
       url('./fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Объявление для жирного начертания */
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Bold.woff2') format('woff2'),
       url('./fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700; /* bold */
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1660px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.upper-case {
  text-transform: uppercase;
}

.header {
  height: 449px;
  position: relative;
  margin-bottom: 55px;

  justify-content: space-between;
  background-color: rgb(21, 35, 50);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./sources/img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-bottom: 1px solid black;
  z-index: 0;
  color: white;
}

.header-logo {
  width: 179px;
  padding-top: 28px;
  padding-left: /* 15%; */ 248px;
}

.header-menu {
  position: absolute;
  top: 40px;
  right: 244px;
}

.header-menu-list {
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
}

.header-menu-item:hover {
  text-decoration: underline;
}

.header-title {
  display: block;
  width: 700px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.66;
}

.trend-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.trend-title::after {
  content: '';
  display: block;
  width: 66px;
  height: 2px;
  background: #b59f5b;
  margin: 9px auto 28px auto;
}

.trend-articles {
  display: flex;
  gap: 4px;

}

.trend-article {
  position: relative;
  display: block;
  width: 412px;
  height: 319px;
  background: #000;
}

.article-img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.trend-text {
  position: absolute;
  bottom: 16px;
  left: 20px;
  right: 20px;
  padding: 31px;
  border: 4px solid rgba(181, 159, 91, 0.6);
}

.trend-text-r {
  left: 26px;
}

.trend-tags {
  display: flex;
  gap: 20px;
  padding-bottom: 7px;
}

.trend-tag {
  font-weight: 700;
  font-size: 14px;
  color: #b59f5b;
}

.trend-tag:hover{
  text-decoration: underline;
}

.trend-art-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: white;
}

.trend-art-title:hover{
  color: #b59f5b;
}

.posts {
  padding-top: 65px;
  padding-left: 245px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  gap: 60px;

}

.post{
  padding: 0;
  margin: 0;
  display: flex;
  width: 778px;
  gap: 31px;
}

.post-img {
  display: block;
  background-color: #eff6f1;

}

.post-frame {
  padding: 0;
  margin: 0;
}

.post-category {
  padding: 0;
  margin-top: -3px;
  margin-bottom: 5px;
  gap: 20px;
  display: flex;
}

.post-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  padding: 0;
  margin-top: -20px;
}

.post-title:hover{
  color: #b59f5b;
}

.post-data-author {
  margin: 27px 0 0;
  position: relative;
  padding-bottom: 17px;
}

.post-data {
  float: left;
  margin: 1px 4px 0 0;
  width: 89px;
  color: #888888;
  font-size: 12px;
}

.post-author {
  float: left;
  margin: 0 0 44px;
  width: 260px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.post-text {
  margin: 10px 0;
  position: relative;
  font-size: 15px;
  line-height: 22px;
}

.shop{
  width: 1170px;
  margin: 0 auto;
}

.shop-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.shop-title::after {
  content: '';
  display: block;
  width: 66px;
  height: 2px;
  background: #b59f5b;
  margin: 9px auto 28px auto;
}

.shop-articles {
  display: flex;
  justify-content: space-between;
}

.shop-article {
  width: 347px;
}

.shop-img {
  width: 300px;
  height: 205px;
  position: relative;
  left: 24px;
  background-color: #eff6f1;
}

.shop-text-block {
  position: relative;
  top: -37px;
  padding: 47px 19px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  color: #0f0d0e;
  width: 346px;
  height: 267px;
  box-sizing: border-box;
}


.shop-art-title {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 2px 0;
}

.shop-text {
  margin: 0 0 29px;
  font-weight: 400;
  font-size: 15px;
}

.shop-link {
  color: #b59f5b;
}

.shop-link:hover {
  text-decoration: underline;
}

.shop-price-old {
  font-weight: 700;
  font-size: 15px;
  text-decoration: line-through;
  text-transform: uppercase;
  line-height: 10px;
  margin: 0;
}

.shop-price-old::after {
  content: "0";
  visibility: hidden;
}

.shop-price-cur {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.shop-button {
  display: block;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  position: relative;
  top: -44px;
  left: 161px;
}

.shop-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.shop-button:active {
  transform: translateY(2px);
}